$tablet-width: 768px; 
$desktop-width: 1024px;  

@mixin mobile { @media (max-width: #{$tablet-width - 1px}) {     
  @content;   
  } 
}  

@mixin tablet { @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {       
  @content;   
  } 
}  

@mixin desktop { @media (min-width: #{$desktop-width}) {     
  @content;  
  } 
}

.header { 
  height: 120px;
  line-height: 120px;
  font-size: 4vw;
  padding-left: 250px; 
  font-weight: bold;
  text-transform: uppercase;
}
@include mobile {
  .header { 
    text-align: center;
    height: 80px;
    line-height: 80px;
    padding-left: 20px; 
  }
}